.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading,
.CountryHeading,
.container h1 {
  text-align: center;
}

.tableCentre {
  margin-left: auto;
  margin-right: auto;
}

.tableCentre tbody tr th,
.tableCentre tbody tr td {
  min-width: 150px;
  text-align: center;
}

.countryScore-container {
  background-color: bisque;
}

.countryScore ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: aquamarine;
  margin-bottom: 0.1px;
  color: red;
}

.countryScore ul li {
  min-width: 200px;
  text-align: center;
  padding: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
